<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="contenedor">
        <h1>Registro de Asistencia</h1>
        <p>Ingresa tus datos para confirmar tu asistencia.</p>

        <form action="/registrar" method="POST">

            <label>Nombre completo</label>
            <input
                type="text"
                name="nombre"
                required
            >

            <label>Código de estudiante</label>
            <input
                type="text"
                name="codigo"
                required
            >

            <label>Materia</label>
            <input
                type="text"
                name="materia"
                required
            >

            <button type="submit">
                Registrar asistencia
            </button>

        </form>
    </div>

</body>
</html>