<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Código QR de Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="contenedor qr-card">

        <h1>Código QR</h1>

        <p>
            Escanea este código para acceder al formulario de asistencia.
        </p>

        <img class="qr-img" src="{{ url_for('static', filename='qr_asistencia.png') }}" alt="Código QR">

        <p class="url-qr">
            {{ url_formulario }}
        </p>
        
    </div>

</body>
</html>